@use 'var';

footer {
    background-color: #d9e6df;
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    padding: 1rem;
    color: black;
    border-top: 1px solid black;
  }