@use 'var';


/* Reset underline for the logo/title */
header a {
    text-decoration: none; /* This removes any underline on the title or logo */
}

/* Navbar styles */
nav ul {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

header nav a {
    padding: 3px 0.7em;
    color: #0b3d02;
    font-family: 'League Spartan', sans-serif;
}

nav ul a {
    color: #0b3d02;
    font-size: 1.3rem;
    font-family: 'League Spartan', sans-serif;
}

/* Hover effect */
nav ul a:hover {
    color: var.$kleur;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;

}

/* Active page underline */
nav ul a.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
